<div class="jumbotron col-md-4 col-md-offset-4">
<div class="container drop-shadow ">
    <h2 align="center" class="display-4">Create your Account</h2>
    
    </div></div>
<div class="container drop-shadow">
<div class="row">
     <br>
    <div class="col-md-4 col-md-offset-4">
        
        {{#if hasErrors}}
        <div class="alert alert-danger">
            {{# each messages }}
            <p>{{this}}</p>
            {{/each}}
        </div>
        {{/if}}
        <form action="/user/signup" method="post">

            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" class="form-control">
            </div>

            <div class="form-group">
                <label for="address">Street</label>
                <input type="text" id="address" name="address" class="form-control">
            </div>
            <div class="form-group">
                <label for="post">Postal Code</label>
                <input type="text" id="post" name="post" class="form-control">
            </div>

            <div class="form-group">
                <label for="city">City</label>
                <input type="text" id="city" name="city" class="form-control">

            </div>
            <div class="form-group">
                <label for="country">Country</label>
                <input type="text" id="country" name="country" class="form-control">
            </div>
            <div class="form-group">
                <label for="phone">Phone #</label>
                <input type="text" id="phone" name="phone" class="form-control">
            </div>
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input type="text" id="email" name="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control">
            </div>

            <div class="form-group">
                <label for="password">Confirm Password</label>
                <input type="password" id="password2" name="password2" class="form-control">
            </div>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
    </div>
</div>
</div>